.data-intro {
  background-color: black;
  color: white;
    margin: 20px;
    padding: 20px;
}

.question {
    color: blue;
    margin: 20px;
    padding: 20px;
}

#county {
    float: right;
    margin-top: -2em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

table th {
  color: white;
  background-color: black;
}